{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Login{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/nav.css' %}">
 	<link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto+Condensed|Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/login.css' %}">
</head>
<body>

{% block content %}
<h2 id="logintitle">Text Penguin</h2>
<div id="logincenter">

	<form method="post" id="loginform" action="">
		{% csrf_token %}
		<h4 class="loginsection">Username</h4>
		<input class="loginformbox" type="text" name="username">
		<h4 class="loginsection">Password</h4>
		<input class="loginformbox" type="password" name="password" >
		
		<div id="checkforgot">
			<span>
				<label><input type="checkbox" id="remember_me" name="remember_me"/>&nbsp;Remember Me</label>
				<!--<a href="{% url 'change_password' %}" id="changepassword">Reset Password</a>-->
			</span>
		</div>

		<button type="submit" id="loginsubmit">Login</button>
	</form><br>

	<span id="addloginlinks"><a href = "{% url 'signup' %}" id="addlink1">Create an Account</a><a href= "{% url 'guesthome' %}" id=
"addlink2">Continue as Guest</a></span>
</div>
{% endblock %}

</body>
