{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>{% block title %}Forgot Password?{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/nav.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/signup.css' %}">
 	<link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto+Condensed|Roboto+Slab&display=swap" rel="stylesheet">
	
</head>
<body>

{% block content %}

<div class="container">
{% if validlink %}
<h2 style= "color:white">Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
{% else %}
<p style="color:white">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
{% endif %}
</div>
{% endblock %}