#resultscontents {
	width: 60%;
	margin: 50px auto;
	border: solid black 1px;
	padding: 10px 20px;
	text-align: center;
	background-color: white;
	font-family: 'Rajdhani', serif;
	font-size: 15px;
}

#newtextdiv {
	width: 100px;
	margin: 0 auto;
}

#tfidftitle {
	text-align: center;
}

h3 {
	font-family: 'Roboto Slab', serif;
}

#tfidfresults {
	margin: 0 auto;
	text-align: center;
	width: 20%;
}
