{% extends 'base.html' %}

{% load static %}

{% block title %}Project View{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/projectview.css' %}">
	<script>
	$( document ).ready(function() {
        $("#formholder").hide();
        $(".swinputform").hide();
        $("#editprojecttitleform").hide();
        $("#edittitle").show();
        $(".posswinputform").hide();
        $(".doceditform").hide();
        $(".doceditcancellink").hide();
        $("#inputtextradio").prop("checked", true);
        $(".ldainputform").hide();
        $("#edittitlecancel").hide();
        $(".tfidfmultiform").hide();
        $(".posmultiform").hide();
        $(".ldamultiform").hide();
        
        choiceCheck();
        
        $('#inputtextradio').on("click", function(){choiceCheck()});
        $('#inputfileradio').on("click", function(){choiceCheck()});
        
        $(".ldabutton").on("click", function(){
           $(this).nextAll(".ldainputform").first().show();
           $(".swinputform").hide();
           $(".posswinputform").hide();
        });
        
        $(".tfidfbutton").on("click", function(){
            $(this).nextAll(".swinputform").first().show();
            $(".posswinputform").hide();
            $(".ldainputform").hide();
        });
        
        $(".posbutton").on("click", function(){
           $(this).nextAll(".posswinputform").first().show();
           $(".swinputform").hide();
           $(".ldainputform").hide();
        });
    
        $("#edittitle").on("click", function() {
            $("#edittitle").hide();
            $("#editprojecttitleform").show();
            $("#edittitlecancel").show();
        });
        
        $("#edittitlecancel").on("click", function() {
           $("#edittitle").show();
           $("#editprojecttitleform").hide();
           $("#edittitlecancel").hide();
        });
        
        $(".doceditlink").on("click", function(){
           $(this).nextAll(".doceditform").first().toggle();
           $(this).toggle();
           $(this).nextAll(".document").toggle();
           $(this).nextAll(".doceditcancellink").toggle();
           $(this).prevAll(".tfidfbutton").toggle();
           $(this).prevAll(".posbutton").toggle();
           $(this).prevAll(".ldabutton").toggle();
           $(this).prevAll(".deletedocbutton").toggle();
           $(".swinputform").hide();
           $(".posswinputform").hide();
           $(".ldainputform").hide();
        });
        
        $(".doceditcancellink").on("click", function(){
           $(this).nextAll(".doceditform").first().toggle();
           $(this).toggle();
           $(this).nextAll(".document").toggle();
           $(this).prevAll(".doceditlink").first().toggle();
           $(this).prevAll(".tfidfbutton").toggle();
           $(this).prevAll(".posbutton").toggle();
           $(this).prevAll(".ldabutton").toggle();
           $(this).prevAll(".deletedocbutton").toggle();
        });
        
        $("#tfidfmultidocbutton").on("click", function(){
           $(".tfidfmultiform").show();
           $(".posmultiform").hide();
           $(".ldamultiform").hide();
        });
        
        $("#posmultidocbutton").on("click", function(){
           $(".posmultiform").show();
           $(".tfidfmultiform").hide();
           $(".ldamultiform").hide();
        });
        
        $("#ldamultidocbutton").on("click", function(){
           $(".ldamultiform").show();
           $(".posmultiform").hide();
           $(".tfidfmultiform").hide();
        });
    });
    
	function addDoc() {
	    $("#addDocButton").hide();
	    $("#formholder").show();
	 }
        
      function choiceCheck() {
          if (document.getElementById('inputtextradio').checked) {
            document.getElementById("fileinput").value =  '';
            document.getElementById('firstdocinput').style.display = 'block';
            document.getElementById('fileinput').style.display = 'none';
            $("#inputtextradio").prop("checked", true);
          }
          else if (document.getElementById('inputfileradio').checked) {
            document.getElementById("firstdocinput").value = '';
            document.getElementById('firstdocinput').style.display = 'none';
            document.getElementById('fileinput').style.display = 'block';
            $("#inputfileradio").prop("checked", true);
          }
          else {
            document.getElementById('fileinput').style.display = 'none';
            document.getElementById('firstdocinput').style.display = 'none';
          }
        }
        
	</script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h3 id="projecttitle">{{ title }}<span id="edittitle">      [Edit]</span><span id="edittitlecancel">      [Cancel]</span></h3>
    <form method="post" enctype="multipart/form-data" id="editprojecttitleform" action="/editProjectTitle/{{ project.id }}/">
        {% csrf_token %}
        <input type="text" id="newtitleinput" placeholder="Project Title" name="newtitleinput" required>
        <input type="submit" id="newtitlesubmit">
    </form>
    <div id="multidocanalyzediv">
        <h5 id="multidocheader">Analyze Project</h5>
        <button class="multidocbutton" id="tfidfmultidocbutton">Analyze Project - TF-IDF</button><br>
        <button class="multidocbutton" id="posmultidocbutton">Analyze Project - P-O-S</button><br>
        <button class="multidocbutton" id="ldamultidocbutton">Analyze Project - LDA</button><br>
        <form method="post" enctype="multipart/form-data" class="tfidfmultiform" action="/tfidfMultiAnalyze/{{ project.id }}/">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="TF-IDF custom stop-words">
                    <input class="swsinputbutton" type="submit" value="Analyze">
       </form>
       <form method="post" enctype="multipart/form-data" class="posmultiform" action="/posMultiAnalyze/{{ project.id }}/">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="P-O-S custom stop-words">
                    <input class="swsinputbutton" type="submit" value="Analyze">
       </form>
       <form method="post" enctype="multipart/form-data" class="ldamultiform" action="/ldaMultiAnalyze/{{ project.id }}/">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="LDA custom stop-words"><br>
                    <label for="numoftopics" class="numoftopicslabel"># of Topics:</label>
                    <select name="numoftopics" class="numoftopics">
                        <option name="1">1</option>
                        <option name="2">2</option>
                        <option name="3">3</option>
                        <option name="4">4</option>
                        <option name="5">5</option>
                        <option name="6">6</option>
                        <option name="7">7</option>
                    </select>
                    <input class="ldasubmitbutton" type="submit" value="Analyze">
       </form>
    </div><br>
    <div id="docs_container">
        {% for document in doc_list %}
        <div class="document_and_analyze_button">
                <button class="tfidfbutton">TF-IDF Analyze</button>
                <button class="posbutton">P-O-S Analyze</button>
                <button class="ldabutton">LDA Analyze</button>
                <a class="deletedocbutton" href="/deleteDocument/{{ document.id }}" onclick="return confirm('Delete?');">X</a>
                <form method="post" enctype="multipart/form-data" class="swinputform" action="/analyzeDocTFIDF/{{ document.id }}">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="TF-IDF custom stop-words">
                    <input class="swsinputbutton" type="submit" value="Analyze">
                </form>
                <form method="post" enctype="multipart/form-data" class="posswinputform" action="/analyzeDocPOS/{{ document.id }}">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="P-O-S custom stop-words">
                    <input class="swsinputbutton" type="submit" value="Analyze">
                </form>
                <form method="post" enctype="multipart/form-data" class="ldainputform" action="/analyzeDocLDA/{{ document.id }}">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="LDA custom stop-words"><br>
                    <label for="numoftopics" class="numoftopicslabel"># of Topics:</label>
                    <select name="numoftopics" class="numoftopics">
                        <option name="1">1</option>
                        <option name="2">2</option>
                        <option name="3">3</option>
                        <option name="4">4</option>
                        <option name="5">5</option>
                        <option name="6">6</option>
                        <option name="7">7</option>
                    </select>
                    <input class="ldasubmitbutton" type="submit" value="Analyze">
                </form>
            <p class="doceditlink">[ Edit ]</p>
            <p class="doceditcancellink">[ Cancel ]</p>
            <div class="document">
                <p class="documenttext">{{ document.text }}</p>
            </div>
            <form method="post" enctype="multipart/form-data" class="doceditform" action="/editDocument/{{ document.id }}/">
                {% csrf_token %}
                <textarea class="editdocarea" name="editdocinput" cols="54" rows="23">{{ document.text }}</textarea><br>
                <input class="submiteditdoc" type="submit">
            </form>
        </div>
        {% endfor %}
    </div>
    <button id="addDocButton" onClick="addDoc()">Add another document</button>
    
     <div id="formholder">
         <h2 id="add_doc_header">Add Document</h2>
        <form method="post" enctype="multipart/form-data" id="createprojectform" action="/addDocument/{{ project.id }}/">
            {% csrf_token %}
            <span>
                <input id="inputtextradio" type="radio" name="inputradio">
                <label for="inputtextradio">Input Text</label>
                <input id="inputfileradio" type="radio" name="inputradio">
                <label for="inputfileradio">Input .txt File</label>
            </span><br>
            <textarea id="firstdocinput" name="textInput" cols="80" rows="20" placeholder="Input the text of an additional document!"></textarea><br>
            <input id="fileinput" type="file" name="fileInput">
            <input id="submitbuttoninput" type="submit" value="Submit">
        </form>
    </div>
    {% else %}
    {% endif %}
     
{% endblock %}