{% extends 'base.html' %}

{% load static %}

{% block title %}Project View{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/projectview.css' %}">
	<script>
	$( document ).ready(function() {
        $("#formholder").hide();
        $(".swinputform").hide();
        $("#editprojecttitleform").hide();
        $("#edittitle").show();
        
        choiceCheck();
        
        $('#inputtextradio').on("click", function(){choiceCheck()});
        $('#inputfileradio').on("click", function(){choiceCheck()});
        
        $(".tfidfbutton").on("click", function(){
                $(this).nextAll(".swinputform").first().toggle();
        });
        
        $("#edittitle").on("click", function() {
            $("#edittitle").hide();
            $("#editprojecttitleform").show();
        });
    });
    
	function addDoc() {
	    $("#addDocButton").hide();
	    $("#formholder").show();
	 }
        
      function choiceCheck() {
          if (document.getElementById('inputtextradio').checked) {
            document.getElementById("fileinput").value =  '';
            document.getElementById('firstdocinput').style.display = 'block';
            document.getElementById('fileinput').style.display = 'none';
            $("#inputtextradio").prop("checked", true);
          }
          else if (document.getElementById('inputfileradio').checked) {
            document.getElementById("firstdocinput").value = '';
            document.getElementById('firstdocinput').style.display = 'none';
            document.getElementById('fileinput').style.display = 'block';
            $("#inputfileradio").prop("checked", true);
          }
          else {
            document.getElementById('fileinput').style.display = 'none';
            document.getElementById('firstdocinput').style.display = 'none';
          }
        }
        
	</script>
{% endblock %}

{% block content %}
    <h3 id="projecttitle">{{ title }}<span id="edittitle">      [Edit]</span></h3>
    <form method="post" enctype="multipart/form-data" id="editprojecttitleform" action="/editProjectTitle/{{ project.id }}/">
        {% csrf_token %}
        <input type="text" id="newtitleinput" placeholder="Project Title" name="newtitleinput" required>
        <input type="submit" id="newtitlesubmit">
    </form>
    <br><br>
    <div id="docs_container">
        {% for document in doc_list %}
        <div class="document_and_analyze_button">
                <button class="tfidfbutton">TF-IDF Analyze</button><br>
                <form method="post" enctype="multipart/form-data" class="swinputform" action="/analyzeDocTFIDF/{{ document.id }}">
                    {% csrf_token %}
                    <input type="text" name="sws" class="swsinput" placeholder="input custom stop-words">
                    <input class="swsinputbutton" type="submit" value="Analyze">
                </form>
            <div class="document">
                <p class="documenttext">{{ document.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="addDocButton" onClick="addDoc()">Add another document</button>
    {% if user.is_authenticated %}
	{% else %}
    {% endif %}
    
     <div id="formholder">
         <h2 id="add_doc_header">Add Document</h2>
        <form method="post" enctype="multipart/form-data" id="createprojectform" action="/addDocument/{{ project.id }}/">
            {% csrf_token %}
            <span>
                <input id="inputtextradio" type="radio" name="inputradio">
                <label for="inputtextradio">Input Text</label>
                <input id="inputfileradio" type="radio" name="inputradio">
                <label for="inputfileradio">Input .txt File</label>
            </span><br>
            <textarea id="firstdocinput" name="textInput" cols="80" rows="20" placeholder="Input the text of an additional document!"></textarea><br>
            <input id="fileinput" type="file" name="fileInput">
            <input id="submitbuttoninput" type="submit" value="Submit">
        </form>
    </div>
     
{% endblock %}