{% extends 'base.html' %}

{% load static %}

{% block title %}Projects{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/recentlyused.css' %}">
	<style>
         .button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 0 auto;
         cursor: pointer;
         font-family: 'Rajdhani', serif;
         }
         
      </style>
    <script>
        $( document ).ready(function() {
           $("#deleteprojbutton").on("click", function(){
               return confirm("Do you want to delete this project?");
           }); 
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h2 id="recentlyusedheader">Projects</h2>
    	<div id="projectitles">
    	    {% for project in proj_list %}
    	        <a id="deleteprojbutton" href="/deleteProject/{{ project.id }}/">X</a><br>
    	        <a href="/recentlyused/{{ project.id }}/">
        	        <div class="individualproject">
        	            <h4 class="projecttitle">{{ project.title }}</h4>
        	        </div>
    	        </a>
    	    {% endfor %}
    	</div>
    <div id="placeholder">
		<a href="/createProject" class="button">Create Project</a>
	</div>
	{% else %}
	<p>Please log in to create/view your projects!</p>
    {% endif %}
{% endblock %}
