{% extends 'guest_base.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Sign Up{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/nav.css' %}">
 	<link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto+Condensed|Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Main/signup.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
</head>
<body>

{% block content %}
<div class="container">
  <h2 style = "color:white; font-family: 'Roboto Slab', serif"">Sign up</h2>
  <form method="post" novalidate>
    {% csrf_token %}
	
	{{ form.non_field_errors }}
	{% for field in form %}
	<p style = "color=white; font-size:20px; font-family: 'Rajdhani', serif">
		<p style = "color:white; font-size:20px; font-family: 'Rajdhani', serif">{{ field.label_tag }}</p>
		{{ field }}
		<!--displays the errors with the input information-->
		<small style="color:red; font-size:16px; font-family: 'Rajdhani', serif">{{ field.errors}}</small>
		<!--displays the requirements for each field-->
		{% if field.help_text %}
			<small style="color:white; font-size:16px; font-family: 'Rajdhani', serif">{{ field.help_text }}</small>
		{% endif %}
		<!--
			<ul class="errors">
				{% for error in form.non_field_errors %}
					<li style = "color:red; font_size:20px">{{ error }}</li>
				{% endfor %}
			</ul>-->
	</p>
	{% endfor %}
    <button type="submit" href = "{% url 'login' %}" style="font-family: 'Rajdhani', serif; font-size:18px; font-weight:bold">Sign Up</button>
  </form>
<!--</div>-->
</div>
{% endblock %}
</body>