.placeholder {
	width: 40%;
	margin: 50px auto;
	border: solid black 1px;
	padding: 10px 20px;
	text-align: center;
	background-color: white;
}

button {
	width: 200px;
	height: 50px;
	margin: 50px auto;
	display: block;
}

#addDocDiv {
	width: 500px;
	height: 500px;
	display: block;
	margin: 100px auto;
}

.documentseparator {
	text-align: center;
}