#placeholder {
	width: 40%;
	margin: 50px auto;
	border: solid black 1px;
	padding: 10px 20px;
	text-align: center;
	background-color: white;
}

#projectitles {
    width: 60%;
    margin: 40px auto;
}

.individualproject {
	width: 200px;
	height: 200px;
	margin: 10px auto;
	background: white;
	padding: 10px;
	display: inline-block;
}

.projecttitle {
	color: black;
}

#NONOZONE {
	background-color: red;
	width: 100px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#NONOZONE a {
	color: black;
	text-decoration: none;
}