{% extends 'base.html' %}

{% load static %}

{% block title %}Results{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/createProject.css' %}">
    <style>
         .button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 0 auto;
         cursor: pointer;
         }
      </style>
{% endblock %}

{% block content %}
    <div id="placeholder">
		<p>Create A Document to Start Your Project!</p>
		<a href="/recentlyused" class="button">Back</a>
    </div>
{% if user.is_authenticated %}
<form method= "post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type ="submit">Create Project</button>
</form>
{% else %}


{% endif %}

{% endblock %}