{% extends 'base.html' %}

{% load static %}

{% block title %}Project View{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/projectview.css' %}">
	<script>
	$( document ).ready(function() {
        $("#addDocDiv").hide();
    });
    
	function addDoc() {
	    $("#addDocButton").hide();
	    $("#addDocDiv").show();
	 }
	</script>
{% endblock %}

{% block content %}
    <div class="placeholder">
        <h3 id="projecttitle">{{ title }}</h3>
        {% for document in doc_list %}
            <p class="documenttext">{{ document.text }}</p>
            <span class="documentseparator">----------------------------------------</span>
            <br><br>
        {% endfor %}
    </div>
    <button id="addDocButton" onClick="addDoc()">Add another document</button>
    <div id="addDoc"></div>
    {% if user.is_authenticated %}
	{% else %}
    {% endif %}
    
    <div id="addDocDiv">
        <form method="post" id="addDocForm" action="/addDocument/{{ project.id }}/">
                {% csrf_token %}
                <textarea name="textInput" cols="50" rows="20" placeholder="Input the text of your first document!">
                </textarea><br>
                <input type="submit" value="Submit">
         </form>
     </div>
     
{% endblock %}