{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'Main/recentlyused.css' %}">
{% endblock %}

{% block content %}
	<div id="placeholder">
		<p>Here is Recently Used!</p>
	</div>
	{% if user.is_authenticated %}
<style>
    textarea {
    position:relative;
    top:5px;
    left:385px;
    }
</style>
<textarea name = "textInput" cols="70" rows="25">
Enter some text!
</textarea>
	{% else %}
{% endif %}
{% endblock %}
